@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}



body {
    color: var(--color-dark);
     background-color: var(--color-light); 
}

.profile-img {
    width: 40px;
    border-radius: 50%;
}

.create-btn {
    height: 40px;
    width: 8rem;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 300ms ease;
}

.create-btn:hover {
    opacity: 80%;
}

a {
    color: var(--color-dark);
    margin: 20px 0;
    display: grid;
    grid-template-columns: 50px auto;
    padding: 5%;
}

.text-muted {
    color: rgb(165, 157, 157);
}

.item i {
    color: rgb(177, 174, 174);
}

.a-click {
    color: mediumslateblue;
}

.bolded {
    font-weight: 600;
}

.small {
    font-size: small;
}

.feed-img {
    width: 100%;
    border-radius: var(--card-border-radius);
}

.ml-a {
    margin-bottom: auto;
    margin-left: auto;
}

.ml-b {
    margin-left: 80%;
}

.accept{
    height: 40px;
    width: 8rem;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 300ms ease;
}

.decline {
    height: 40px;
    width: 8rem;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn-light {
    background-color: var(--color-light);
}